= content_tag_for(:section, bookmark, class: bookmark.public ? 'public' : 'private') do
  %h3= link_to bookmark.title, bookmark.url
  = link_to truncate(bookmark.url, length: 90), bookmark.url, target: '_blank'
  - if bookmark.description.present?
    .description
      = simple_format bookmark.description
  .tags
    = bookmark.tag_array.map { |tag| link_to(tag, bookmarks_path(tag: tag), class: 'tag') }.join(", ").html_safe

  .info
    %span.date{title: l(bookmark.created_at)}
      = t('.time_ago', time: time_ago_in_words(bookmark.created_at))
    %span.author
      - if user_signed_in? && bookmark.user == current_user
        = t('.by_me')
      - else
        = t('.by_author', author: bookmark.user.username)
  - if user_signed_in? && bookmark.user == current_user
    .links
      = link_to t('edit'), edit_bookmark_path(bookmark)
      = link_to t('destroy'), bookmark, :confirm => t('confirm'), :method => :delete
  - if user_signed_in? && bookmark.user != current_user
    .links
      = link_to t('.copy'), new_bookmark_path(copy_id: bookmark.id)
