= simple_form_for(@bookmark) do |f|
  = f.error_notification

  .inputs
    = f.input :url
    = f.input :title
    = f.input :description
    = f.input :tag_list
    = f.input :public

  .actions
    = f.submit