%h1= t('.title')

= will_paginate @bookmarks

= render @bookmarks

= will_paginate @bookmarks

= link_to t('.new'), new_bookmark_path

- content_for :sidebar do
  %ul
    - @tags.each do |tag|
      %li= link_to "#{tag.name} (#{tag.count})", bookmark_path(tag: tag.name)
