- content_for :head do
  = auto_discovery_link_tag(:atom, params.merge(format: 'atom'))

%h1= t('.title')

= paginated_section @bookmarks do
  = render @bookmarks

- content_for :sidebar do
  = render 'search_form'
  = render 'tag_list'
